h1{
  text-align: center;
  color: red;
}

#map {
  height: 500px;
  width: 50%;
}

#cont{
  display: flex;
  justify-content: center;
}

p{
  text-align: center;
}

#top{
  background-color: #1f1f1f;
  margin: 0;
  overflow: hidden;
  margin-bottom: 8%;
}

body{
  margin: 0;
}

#logo{
  float: left;
  margin: 1%;
  height: 45px;
  width: 350px;
}
#infos{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  border-collapse: collapse;
}
tr td{
  padding-right: 55px;
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid black;
  color: #ffff;

}

#i1{
  background-color: #a2a2a2;
}

#i2{
  background-color: #7d8890;
}
